bin/
obj/
*.user
*.swp
*.suo
*.cache
*.log
*.db
*.sqlite
*.sqlite3
**/logs/
.env
.vscode/
.idea/
*.DS_Store
**/wwwroot/dist/
**/wwwroot/node_modules/
**/Properties/launchSettings.json
**/telegram.session
uploads/
logs/
